body{
    background-color: rgb(149, 137, 137);
}
.wrapper{
    background-color: rgb(201, 234, 247);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
    
    
    
}
.container{
    background-image: url(/img/snowy-mountain-peak-with-sunrise-glow-2210x1243.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px 0px rgb(92, 90, 90);
    margin-bottom: 100px;
    margin-top: 50px;
    
}
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    color: white;
    font-size: 10px;
}
/* nav{
    padding-left: 50px;
    text-align: right;
    margin-top: 20px;
    
} */

.navbar-nav {
    float: right !important;
    padding-top: 20px !important;
    padding-left: 200px !important;
  }
  
  .navbar-nav a:hover {
    color: #E91E63 !important;
  }

button{
    height: 30px;
    width: 90px;
    background-color: #f18c07;
    border-radius: 8px;
    font-size: 10px;
    margin-top: 10px;
    box-shadow: none;
    border: none;
    
}
h2{
    text-align: center;
    padding-top: 60px;
    color: white;
    margin-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}

.inner-text{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    text-align: center;
    color: #edf2ef;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    margin-left: 80px;
    margin-bottom: 400px;
    background-image: none;
    border-radius: 5px 0 0 5px;
}

.search-btn{
    height: 50px;
    width: 17%;
    background-color: #087cc4;
    color: white;
    font-size: 15px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;

}
