h1{
    color: teal;
    font-weight: 600;
    margin-top: 30px;
}
p{
    margin-bottom: 30px;
}
.btn1 button {
    background-color: white;
    font-weight: 700;
    height: 40px;
    width: 150px;
    margin-top: 40px;
    margin-right: 635px;
    margin-bottom: 40px;
    border: 1px solid grey;
    text-transform: uppercase;

}




.btn2 button{
    float: right;
    background-color: #fe8c26;
    font-weight: 700;
    border-color: #fe8c26;
    height: 40px;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    border: 1px solid grey;
    text-transform: uppercase;
}
